# Referensi dari Java config.properties
SERVER_PORT=700
SERVER_SSL_ENABLED=true
AUTHBACKEND_URL=http://be.pandi.id:8080/PANDI-REGISTRAR-0.1/authRegistrar/
BACKEND_URL=http://be.pandi.id:8080/PANDI-CORE-0.1/processepp/
LOGOUTBACKEND_URL=http://be.pandi.id:8080/PANDI-REGISTRAR-0.1/logoutRegistrar/
IDLE_TIMEOUT_SECONDS=600
TLS_CLIENT_AUTH=REQUIRE
RATELIMIT_IP_RULES=10/second,60/minute
RATELIMIT_CLIENT_RULES=50/second,500/minute
RATELIMIT_CHANNEL_RULES=10/second,60/minute
RATELIMIT_WRITE_RULES=10/second
RATELIMIT_READ_RULES=50/second,500/minute
RATELIMIT_READ_IP_RULES=50/second,500/minute
RATELIMIT_WRITE_IP_RULES=10/second,60/minute
RATELIMIT_READ_CLIENT_RULES=100/second,800/minute
RATELIMIT_WRITE_CLIENT_RULES=50/second,500/minute

# Opsional
TLS_SERVER_CERT=certs/server.crt
TLS_SERVER_KEY=certs/server.key
TLS_CA_CERT=certs/cacert.pem
EPP_CONNECT_TIMEOUT=5s
EPP_BACKEND_TIMEOUT=15s
EPP_BACKEND_DIAL_TIMEOUT=3s
EPP_BACKEND_TLS_HANDSHAKE_TIMEOUT=3s
EPP_BACKEND_IDLE_CONN_TIMEOUT=90s
EPP_BACKEND_MAX_IDLE_CONNS=2048
EPP_BACKEND_MAX_IDLE_CONNS_PER_HOST=1024
EPP_BACKEND_MAX_CONNS_PER_HOST=0
EPP_WRITE_TIMEOUT=10s
EPP_MAX_FRAME_BYTES=65535
EPP_MAX_CONNS=1000
EPP_RATELIMIT_MAX_KEYS=100000
EPP_LOG_FORMAT=json
